# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
venv/
.env/
.venv/

# dotenv file
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs or dumps
*.log
*.sqlite
*.db

# Others
*.bak
*.tmp
